.container{
  display: flex;
  
  }
  
.image-container>img{
  height: 450px;
  width: 500px;
 
  
}
.image-container {
  position: relative;
  margin-top: 10%;
  
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px yellow;
}
.text-yellow{
  color: yellow;
}
@media (max-width: 985px) {
  .image-container{
    margin-top: 20%; 
   
  }
}
.cardWrapper {
  display: flex;
  justify-content: center;
  gap:20px;
  transition: transform 0.5s ease; /* Apply smooth transition effect */
  
  
}
.cardWrapper>button{
  height: 40px;
  margin-top: 150px;
  
  
}

.card {
  width: 350px; /* Adjust card width */
  transition: transform 0.5s ease; /* Apply smooth transition effect */
}
.card>img{
  height: 300px;
}

.card:hover {
  transform: scale(1.05); /* Add hover effect to cards */
  box-shadow: 0 0 10px yellow;
  
}



.card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(5, 5, 5, 0.5); 
  color: rgba(240, 240, 36, 0.943); /* Text color */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Apply smooth transition effect */
 
}

.card:hover .card-body {
  opacity: 1; /* Show overlay on hover */
}

/* @media (max-width: 768px) {
  .card {
    width:200px ;
  }
}

@media (max-width: 576px) {
  .card {
    width:100px ; 
}
} */
.about-image>img{
  width: 500px;
  height: 500px;
  margin-bottom: 50px;
  
}
@media (max-width: 985px) {
  .about-image>img{
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    
    }
}

.rotate-on-hover {
  transition: transform 0.3s ease; /* Define transition effect */
}

.rotate-on-hover:hover {
  transform: translate(40px, 20px) ;
  box-shadow: 0 0 10px yellow;
}

/* .square {
 
  position: relative;
  
}
.square:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to top, transparent 0%, black 100%);
}
.square:hover:before {
  height: 100%;
} */

/* src/AnimatedTestimonials.css */

/* Define animations */
/* @keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* Apply animations to testimonials */
.testimonial {
  /* position: relative;
  overflow: hidden; */
  background-image: linear-gradient(rgb(50, 48, 48), rgba(255, 221, 0, 0.809), rgb(217, 227, 217));
  border-radius: 8px;
  /* border: 0.2px solid yellow; */
  
}

.testimonial-content {
  padding: 20px;

  /* animation: slideInFromLeft 0.6s ease-out; */
}

/* Add delay to alternate animations */
/* .testimonial:nth-child(even) .testimonial-content {
  animation: slideInFromRight 0.6s ease-out;
} */

.timelineCard{
  border: 2px solid yellow;
  width: 75%;
  box-shadow: 0 0 10px yellow;
  
}
.textUnderLine{
  text-transform: uppercase;
  color: yellow;
}

/* .detailCard{
  width: 100%;
  height: 60vh;
  
  

} */
.innerC{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left: 20px;
}
